<% layout('layout/boilerplate.ejs') -%>
<h1>ADD NEW BOOK</h1>
<%- include("../includes/flash.ejs")  %>
<div class="container">
    <div id="form" class="col-6 offset-3 mt-5 mb-5">
      <form method="post" action="/Admin/new-book" novalidate class="needs-validation">
        <div class="bookname">
          <label class="form-label">Book Name :</label>
          <input type="text" name="bookname" id="bookname" placeholder="Enter Book Name" class="form-control" required>
          <div class="invalid-feedback">
            Please provide a Valid Book Name
          </div>
        </div>
        <br>
        <div class="Author">
            <label class="form-label">Author Name :</label>
            <input type="text" name="Author" id="bookname" placeholder="Enter Book Name" class="form-control" required>
            <div class="invalid-feedback">
              Please provide a Valid Author Name
            </div>
          </div>
          <br>
          <div class="ISBN">
            <label class="form-label">ISBN :</label>
            <input type="text" name="ISBN" id="bookname" placeholder="Enter ISBN" class="form-control" required>
            <div class="invalid-feedback">
              Please provide a Valid ISBN
            </div>
          </div>
          <br>
          <div class="ISBN">
            <label class="form-label">Edition :</label>
            <input type="text" name="Edition" id="bookname" placeholder="Enter the Edition" class="form-control" required>
            <div class="invalid-feedback">
              Please provide a Valid Edition
            </div>
          </div>
        <br>
        <div class="button">
          <button class="btn btn-dark">ADD BOOK</button>
        </div>
      </form>
    </div>
    </div>
  </body>
</html>